<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vibe.FX</title>

    <%- include('partials/style'); %>




</head>
<body>
    <div id="page-wrapper">
        <header>
            <div class="header-image">
                <img src="https://vibefx.ca/storage/2024/05/vibefx-logo.webp" alt="">
            </div>
        </header>
        <div id="body-wrapper">

        </div>
        <footer></footer>
    </div>
</body>
</html>