<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LEM Intake</title>
</head>
<body>
    
<form action="" method="post">
    // Get these jobs from Active Job List
    <div id="form-wrapper">
        <div class="form-section">
            <h2>Shift Information</h2>
            <select name="job-number" id="">
            </select>
        </div>

        <div class="form-section">
            <h2>Labour</h2>
            <div class="form-row">
                
            </div>
        </div>


    </div>
    
    
    

</form>






    <script></script>
</body>
</html>